* { 
    box-sizing: border-box; 
}

header {
    width: 1120px;
    margin: 40px auto;
    padding-bottom: 9px;
    border-bottom: 1px solid #EEEEEE;
}

.content {
    width: 1120px;
    margin: 0px auto;
}

.page-title {
    display: inline-block;
    font-size: 63px;
    margin: 10px 0;
}

.page-title small {
    font-size: 50%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.app-store-badge,
.app-store-badge img {
    float: right;
    margin-top: 3px;
    text-decoration: none;
    font-weight: bold;
    color: #484848;
}

.app-store-badge span {
    display: block;
    text-align: center;
    clear: both;
    position: relative;
    top: 7px;
}

.app-store-badge span b {
    color: #1B91C8;
}

.main {
    text-align: center;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(243, 243, 243, 1) 95%, rgba(241, 241, 241, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(78%, rgba(255, 255, 255, 1)), color-stop(95%, rgba(243, 243, 243, 1)), color-stop(100%, rgba(241, 241, 241, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(243, 243, 243, 1) 95%, rgba(241, 241, 241, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(243, 243, 243, 1) 95%, rgba(241, 241, 241, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(243, 243, 243, 1) 95%, rgba(241, 241, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(243, 243, 243, 1) 95%, rgba(241, 241, 241, 1) 100%);
    border-bottom: solid 1px #d4d4d4;
}

.main img
{
    margin-bottom: -80px;
    position:relative;
}