body {
    background-color: #F6F6F6;
    font-family: sans-serif;
    font-weight: lighter;
    -webkit-touch-callout: none;
}

body.font-serif {
    font-family: serif;   
}

li {
    margin-top: 6px;
    padding-bottom: 2px;
}

.indent {
    font-size: 75%;
    margin-left: 24px;
    margin: 4px 0;
}

.quoteright {
    background-color: #FFFFFF;
    clear: right;
    float: right;
    margin: 5px 5px 0 5px;
    padding: 10px 10px 5px 10px;
    position: relative;
    width: 150px;
    z-index: 4;
    border: 1px solid #DAD9D6;
    border-bottom: none;
    -webkit-box-shadow: 2px 2px 2px #888888;
}

.acaptionright {
    background-color: #FFFFFF;
    clear: right;
    float: right;
    margin: 0 5px 5px 5px;
    padding: 5px 10px 10px 10px;
    position: relative;
    text-align: center;
    width: 150px;
    z-index: 4;
    border: 1px solid #DAD9D6;
    border-top: none;
    -webkit-box-shadow: 2px 2px 2px #888888;
    font-size: 75%;
}

.spoiler {
    color: #F6F6F6;
    border: 1px dotted #808080;
    border-top: none;
}

.spoiler a {
    visibility: hidden;
}

.spoiler-visible {
    color: inherit;
}

.spoiler-visible a {
    visibility: visible;
}

table.pathholder {
    position: relative;
    font-size: 75%;
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
    border-bottom: 1px dotted #BBBBBB;   
    padding: 5px;
}

table.pathholder:last-of-type {
    border-bottom: none;
}

td.trail_left, 
td.trail_center, 
td.trail_right { 
    width: 30%; 
}

td.trail_left a, 
td.trail_center a, 
td.trail_right a { 
    text-decoration: none;
}

td.trail_center a { 
    color: black; 
}

/* ********************************* */
/* Empty page
/* ********************************* */
body.empty-page {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

img.tv-tropes-logo {
    display: block;
    height: 300px;
    margin: 40px auto;
}
